body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: yellowgreen;
}

.edit-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
input {
    background-color: grey;
}
#update-btn{
background-color: darkseagreen;
}

