<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic88</title>
    <link rel="stylesheet" href="Basic88.css" />
  </head>
  <body>
    <div class="container">
      <div id="row1">
        <header>
          <div id="basic">
            <h2>Basic 88</h2>
            <p>Free HTML5 Website Template</p>
          </div>
          <nav>
            <ul>
              <li>Text Link</li>
              <li>Text Link</li>
              <li>Text Link</li>
              <li>Text Link</li>
              <li>Text Link</li>
            </ul>
          </nav>
        </header>
      </div>
      <!-- Row2 -->
      <div id="row2">
        <img src="../doraf.jpg" alt="" />
      </div>
      <!-- Row3 -->
      <div id="row3">
        <div class="childs">
          <figure><img src="../Dora.jpg" alt="" /></figure>
          <figcaption>
            <strong><i>Indonectetus facilis</i></strong>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <a href="#">Read More »</a>
          </figcaption>
        </div>
        <div class="childs">
          <figure><img src="../dora buji.jpg" alt="" /></figure>
          <figcaption>
            <strong><i>Indonectetus facilis</i></strong>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <a href="#">Read More »</a>
          </figcaption>
        </div>
        <div class="child3">
          <figure><img src="../bujji.jpg" alt="" /></figure>
          <figcaption>
            <strong><i>Indonectetus facilis</i></strong>
            <p>
              Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
              dapibulum orna.
            </p>
            <a href="#">Read More »</a>
          </figcaption>
        </div>
      </div>
      <div id="row4">
        <div class="child4">
          <figure class="child4"><img src="../doraf.jpg" alt=""></figure>
        <figcaption>
        <strong><i>Indonectetus facilis leo nibh</i></strong>
        <p>This is a W3C compliant free website template from <a href="#">OS Templates</a>
          For full terms of use of this template please read our <a href="#">Website template licence.</a></p>
        <p>You can use and modify the template for both personal and 
          commercial use. You must keep all copyright information and 
          credit links in the template and associated files. For more 
          HTML5 templates visit <a href="#">free Website templates.</a></p>
        <a href="#">Read more </a>
       </figcaption>
        </div>
      </div>
        <div class="container2">
        <div id="row5">
            <div class="linkBlockparent">
            
              <h3>LINK BLOCK</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Sed a nulla urna</a></li>
                </ul>
             
            </div>
            
            <div class="linkBlockparent">
                <h3>LINK BLOCK</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Sed a nulla urna</a></li>
                </ul>
            </div>

            <div class="linkBlockparent">
                <h3>LINK BLOCK</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Sed a nulla urna</a></li>
                </ul>
            </div>
            <div class="linkBlockparent">
                <h3>LINK BLOCK</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Sed a nulla urna</a></li>
                </ul>
            </div>
        </div>
      </div>
        
    </div>
    <footer id="footer">
      <div id="row6">
        <div class="footer-bottom">
            <p class="left">Copyright © 2018 - All Rights Reserved - Domain Name</p>
            <p class="Rights">Template by OS Templates</p>
        </div>
        </div>
    </footer>
      </div>
    </div>
  </body>
</html>