div#row1 {
    background: #333333;
  }
  header {
    width: 800px;
    margin: auto;
    background: black;
    color: white;
    overflow: auto;
  }
  div#basic {
    width: 205px;
    float: left;
    margin: 20px;
  }
  #basic h2 {
    margin: 0;
  }
  #basic p {
    margin: 0;
    font-size: 13px;
  }
  nav {
    width: 525px;
    float: right;
    margin: 15px;
    background: #484c50;
  }
  nav ul li {
    display: inline;
    margin-right: 31px;
  }
 
  div#row2 {
    width: 800px;
    margin: auto;
    margin-top: 15px;
  }
  #row2 img {
    width: 799px;
    height: 274px;
  }
  div#row3 {
    width: 800px;
    margin: auto;
    overflow: auto;
  }
  div#row4 {
    width: 800px;
    margin: auto;
    overflow: auto;
}
  .childs {
    float: left;
    width: 274px;
    margin-right: 11px;
}
  .child3 {
    float: right;
    width: 227px;
  }
  figure {
    margin-left: 0;
    width: 250px;
  }
  figure img {
    width: 260px;
    height: 150px;
  }
  figure.child4 {
    width: 225px;
    float: right;
    height: 180px;
}
a  {
  color: orange;
}
.container {
  font-size: 15px;
}


.container2 {
  background-color: #464343;
}
div#row5 {
  width: 800px;
  background-color: #464343;
  margin: auto;
}
div#row5 {
  display: flex
;
  font-size: 14px;
}
.linkBlockparent {
  width: 209px;
  color: white;
}
div#row6 {
  width: 800px;
  margin: auto;
  background-color: #1b1b1b;
  color: white;
  height: 55px;
}
.footer-bottom {
  font-size: 13px;
  width: 800px;
  height: 55px;
}

footer#footer {
  background-color: #1f1e1e;
}
p.left{
  float: left;
}
p.Rights {
  float: right;
}
li {
  list-style-type: none;
}


