<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Basic89.css">
</head>
<body>
  <div class="container">
        <div id="row1">
          <header>
            <div id="basic">
              <h2>TTD</h2>
              <p>Tirumala Tirupati Devasthanam</p>
            </div>
            <nav>
              <ul>
                <li>DARSANAM</li>
                <li>UTSAVAM</li>
                <li>EVENTS</li>
                <li>SPECIAL DARSNAM</li>
                <li>GOPURAM</li>
              </ul>
            </nav>
          </header>
        </div>
        <div id="row2">
          <img src="../TTD1.jpg" alt="" />
        </div>
        <div id="row3">
          <div class="one">
              <Section>
                  <strong><img src="../TTD3.jpg" alt="" height="32px" width="32px">LOREM IPSUM DOLOR</strong>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                  <p class="p"><a href="#">Read more >></a></p>
              </Section>
          </div>
          <div class="one two">
              <Section>
                <strong><img src="../TTD3.jpg" alt="" height="32px" width="32px">LOREM IPSUM DOLOR</strong>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                  <p class="p"><a href="#">Read more >></a></p>
              </Section>
          </div>
          <div class="one three">
              <Section>
                <strong><img src="../TTD3.jpg" alt="" height="32px" width="32px">LOREM IPSUM DOLOR</strong>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                  <p class="p"><a href="#">Read more >></a></p>
              </Section>
          </div>
          <div class="one four">
              <Section>
                <strong><img src="../TTD3.jpg" alt="" height="32px" width="32px">LOREM IPSUM DOLOR</strong>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                  <p class="p"><a href="#">Read more >></a></p>
              </Section>
          </div>
         </div>
      <div id="row4">
        <div class="childs">
          <figure><img src="../TTD4.jpg" alt="" width="200px" ></figure>
        </div>
        <div class="childs">
          <figure><img src="../TTD4.jpg" alt="" width="200px" ></figure>
        </div>
        <div class="child3">
         <figure><img src="../TTD4.jpg" alt="" width="200px"></figure>
        </div>
      </div>
      <div id="row5">
        <article>
          <div class="child1">
            <figure><img src="../TTD5.jpg" alt="" style="width: 200px; " ></figure>
            <figcaption>
            <strong><i>Venkateswara Temple, Tirumala</i></strong>
              <p>The Venkateswara Temple of Tirumala or Sri Venkateswara Swami Temple
                 is a Hindu temple situated in the hills of Tirumala,
                 Tirupati Urban Mandal in the Tirupati district of Andhra Pradesh, India.</p>
                 <p class="p" ><a href="#">Read More >></a></p>
            </figcaption>
          </div>
          <div class="child2">
            <figure><img src="../TTD5.jpg" alt="" style="width: 200px;  "></figure>
            <figcaption>
              <strong><i>Venkateswara Temple, Tirumala</i></strong>
              <p>The temple is dedicated to Venkateswara, a form of Vishnu, 
                who is believed to have appeared on earth to save mankind from
                 trials and troubles of Kali Yuga. Hence the place is also known
                  by the name Kaliyuga Vaikuntha and the deity here is referred
                   to as Kaliyuga Prathyaksha Daivam.</p>
                   <p class="p"><a href="#">Read More >></a></p>
            </figcaption>
          </div>
        </article>
        <aside id="aside">
          <h4 class="heading">CATEGORIES</h4>
          <ul>
            <li>Free Wedsite Templates</li>
            <li>Free CSS Templates</li>
            <li>Free XHTML Templates</li>
            <li>Free Web Templates</li>
            <li>Free Website Layouts</li>
            <li>Free HTML 5 Templates</li>
            <li>Free Webdesign Templates</li>
            <li>Free FireWorks Templates</li>
            <li>Free PNG Templates</li>
            <li>Free Website Themes</li>
          </ul>
        </aside>
      </div>
      <footer id="footer">
        <div id="row6">
          <div class="footer-bottom">
              <p class="left">Copyright © 2018 - All Rights Reserved - Domain Name</p>
              <p class="Rights">Template by OS Templates</p>
          </div>
          </div>
      </footer>
 </div>
</body>
</html>