<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       ul.one {
    list-style-type: none;
    width: 150px;
    float: left;
}
img.\31 {
    width: 45px;
}
ul.\31 {
    list-style-type: none;
}
img.\32 {
    width: 20px;
}
h4.\31 {
    width: 100px;
}
ul.\34 {
    width: 800px;
    list-style-type: none;
}
nav.\33 {
    float: right;
    width: 1048px;
}
div#Row3 {
    width: 1050px;
    float: right;
}
.Row4 {
    width: 1022px;
    float: right;
}
div#row5 {
    float: right;
    width: 1048px;
}
div#Row7 {
    width: 1048px;
    float: right;
}
.Row6 {
    width: 1022px;
    float: right;
}
img.on {
    width: 33px;
}
button:hover {
background-color: orange;
}
    </style>
</head>
<body>
    <div class="container">
      <h2><img src="" alt=""><img src="../youtube.png"  alt="" class="1">Youtube</h2> 
        <div id="row1">
            <header>
              </header>
              </div>
              <ul class="one">
                <li><img src="../home b.png" alt="" class="2">Home</li>
                 <br>
                <li><img src="../shorts.png" alt="" class="2">Shorts</li>
                <br>
                <li><img src="../sub.png" alt="" class="2">Subscriptions</li>
                <br>
                <hr>
                <br>
                <li><img src="../person.png" alt="" class="2">You</li>
                <br>
                <li><img src="../history.png" alt="" class="2">History</li>
              </ul>
              <h4 class="1">Explore</h4>
              <ul class="1">
              <li> <img src="../trend.png" alt="" class="2">Trending</li>
              <br>
              <li><img src="../shopping bag.png" alt="" class="2">Shopping</li>
              <br>
              <li><img src="../music.png" alt="" class="2">Music</li>
              <br>
              <li><img src="../movies.png" alt="" class="2">Movies</li>
              <br>
              <li><img src="../live.png" alt="" class="2">Live</li>
              <br>
              <li><img src="../game.png" alt="" class="2">Gaming</li>
              <br>
              <li> <img src="../news.png" alt="" class="2">News</li>
              <br>
              <li><img src="../sports.png" alt="" class="2">Sports</li>
              <br>
            </ul>
            
          </div>
          <div id="Row2"> 
            <nav class="3">
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">All</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Telugu news</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; "> Telugu Music</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Webseries</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Tamil Cinemas</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; "> Telugu Songs</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Live</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Tamil Songs</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">T-Series</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">News</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Mixes All</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Gaming All</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Wickets</button>
               <button style="color: black; background-color: rgb(209, 206, 206); border: 0; ">Cooking</button>
            </nav>
          </div>
          <br>
          <br><br>
          <div id="Row3">
          <iframe src="https://www.youtube.com/embed/5m9sYqJNoWk" frameborder="0" ></iframe>
          <iframe src="https://www.youtube.com/embed/1Sw7modBwsM" frameborder="0" ></iframe>
          <iframe src="https://www.youtube.com/embed/dx4Teh-nv3A" frameborder="0" ></iframe>
          </div>
          <div class="Row4">
            <h4><img src="../youtube.png" alt="" class="2">Shorts</h4>
          </div>
          <div id="row5">
           <iframe src="https://www.youtube.com/embed/EBhWHhaldb4" frameborder="0"></iframe>
           <iframe src="https://www.youtube.com/embed/BINyxkM5vjA" frameborder="0"></iframe>
           <iframe src="https://www.youtube.com/embed/ni_HSCBqDlM" frameborder="0"></iframe>
          </div>
          <br>
          <br>
          <br>
          <div class="Row6">
            <h4><img src="../youtube.png" alt="" class="2">songs</h4>
          </div>
          <div id="Row7">
            <iframe src="https://www.youtube.com/embed/3SLq-OClVec" frameborder="0"></iframe>
            <iframe src="https://www.youtube.com/embed/5m9sYqJNoWk" frameborder="0"></iframe>
            <iframe src="https://www.youtube.com/embed/dx4Teh-nv3A" frameborder="0"></iframe>
          </div>
    </div>
</body>
</html>